<div class='col-md-4 mt-3'>
  <div class='card'>
    <Product::Image @image={{@image}} />
    <Product::Details
      @name={{@name}}
      @price={{@price}}
      @description={{@description}}
      @model={{@model}}
    />
  </div>
</div>