<div class='container productdetails'>
  <div class='row productdetails__flex'>
    <div class='col'>
      {{#if @src}}
        <img class='productdetails__image' src={{@src}} alt='product image' />
      {{/if}}
    </div>
    <div class='col mt-5'>
      <h2>{{@name}}</h2>
      <section class='mb-1'>
        <div class='text-warning'>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star-half-o'></i>
        </div>
      </section>
      <section class='mb-1'>
        <del class='small text-black-50'>{{currency @oprice}}</del>
        <i class='text-danger font-weight-bold'>{{currency @cprice}}</i>
      </section>
      <p class='card-text text-muted truncate'>{{@description}}</p>
      <div class='d-flex justify-content-between align-items-end'>
        <div>
          <h5>Colors</h5>
          <div class='productdetails__colors active-{{@color}}'>
            {{#each @colors as |colorInfo|}}
              <span
                {{on 'click' (fn @onChangeColor colorInfo.color)}}
                class='productdetails__color
                  {{concat 'color-' colorInfo.color}}'
              ></span>
            {{/each}}
            {{!-- <span
          {{on 'click' (fn @onChangeColor 'red')}}
          class='productdetails__color color-red'
        ></span>
        <span
          {{on 'click' (fn @onChangeColor 'black')}}
          class='productdetails__color color-black'
        ></span> --}}
          </div>

        </div>
        <button
          class='btn btn-info'
          type='button'
          {{on 'click' this.addToCart}}
        >
          <i class='fa fa-shopping-cart mr-1'></i>
          Add to Cart
        </button>
      </div>
    </div>

  </div>
</div>